/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

body {
  font-family: 'Comfortaa', cursive;
}
.collapsible-body {
  color: #cd6133;
  font-size: 1.4em;
}
.collapsible-body > .flow-text {
  color: #cd6133;
}

.collapsible-body > span > a {
  display: inline-flex;
  font-size: 0.7em;
  /* width: 30%; */
  overflow: hidden;
  margin: 10px;
  width: 30%;
  /* margin: 0 auto; */
}
.collapsible-body > span > a > span {
  margin-left: 15px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.intro {
  font-family: 'Special Elite', cursive;
  font-family: 'Sniglet', cursive;
  font-family: 'Syne Mono', monospace;
  font-family: 'Gluten', cursive;
  /* font-family: 'Single Day', cursive; */
  /* display: flex; */
  color: #3c6382;
  /* align-items: center; */
}
.logo {
  /* border: 1px solid black; */
  /* padding: 0 !important; */
}
.card-style {
  border: 1px solid black;
  border-radius: 20px;
}
span > b {
  display: inline-block;
  /* vertical-align: center;
  align-items: center; */
  transform: rotate(-10deg);
  /* border: 1px solid red; */
}
a > img {
  border: 1px solid blue;
}
hr {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  border: 0;
}
.card {
  min-width: 30%;
  width: 300px;
  /* box-sizing: border-box ; */
  /* display: inline-block; */
}
.education > div{
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.education > div> div {
  /* box-sizing: border-box ; */
}
.card-content {
  height: 170px;
}

@media only screen and (max-width: 700px) {
  .collapsible-body > span > a {
    width: 90%;
  }
}
